PunClient/Connected Services/PunWebService/PunService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://puns.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://puns.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web service provides create, read, update, and delete functions over a collection of Puns</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://puns.org/">
      <s:element name="GetPuns">
        <s:complexType />
      </s:element>
      <s:element name="GetPunsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPunsResult" type="tns:ArrayOfPun" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPun">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Pun" nillable="true" type="tns:Pun" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Pun">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PunID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Joke" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPunByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="punID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPunByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPunByIDResult" type="tns:Pun" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreatePun">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pun" type="tns:Pun" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreatePunResponse">
        <s:complexType />
      </s:element>
      <s:element name="EditPun">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pun" type="tns:Pun" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditPunResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeletePun">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="punID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePunResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPunsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPuns" />
  </wsdl:message>
  <wsdl:message name="GetPunsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPunsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPunByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetPunByID" />
  </wsdl:message>
  <wsdl:message name="GetPunByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetPunByIDResponse" />
  </wsdl:message>
  <wsdl:message name="CreatePunSoapIn">
    <wsdl:part name="parameters" element="tns:CreatePun" />
  </wsdl:message>
  <wsdl:message name="CreatePunSoapOut">
    <wsdl:part name="parameters" element="tns:CreatePunResponse" />
  </wsdl:message>
  <wsdl:message name="EditPunSoapIn">
    <wsdl:part name="parameters" element="tns:EditPun" />
  </wsdl:message>
  <wsdl:message name="EditPunSoapOut">
    <wsdl:part name="parameters" element="tns:EditPunResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePunSoapIn">
    <wsdl:part name="parameters" element="tns:DeletePun" />
  </wsdl:message>
  <wsdl:message name="DeletePunSoapOut">
    <wsdl:part name="parameters" element="tns:DeletePunResponse" />
  </wsdl:message>
  <wsdl:portType name="Pun_x0020_Service_x0020_v1.0Soap">
    <wsdl:operation name="GetPuns">
      <wsdl:input message="tns:GetPunsSoapIn" />
      <wsdl:output message="tns:GetPunsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPunByID">
      <wsdl:input message="tns:GetPunByIDSoapIn" />
      <wsdl:output message="tns:GetPunByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreatePun">
      <wsdl:input message="tns:CreatePunSoapIn" />
      <wsdl:output message="tns:CreatePunSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditPun">
      <wsdl:input message="tns:EditPunSoapIn" />
      <wsdl:output message="tns:EditPunSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePun">
      <wsdl:input message="tns:DeletePunSoapIn" />
      <wsdl:output message="tns:DeletePunSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Pun_x0020_Service_x0020_v1.0Soap" type="tns:Pun_x0020_Service_x0020_v1.0Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPuns">
      <soap:operation soapAction="http://puns.org/GetPuns" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPunByID">
      <soap:operation soapAction="http://puns.org/GetPunByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePun">
      <soap:operation soapAction="http://puns.org/CreatePun" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditPun">
      <soap:operation soapAction="http://puns.org/EditPun" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePun">
      <soap:operation soapAction="http://puns.org/DeletePun" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Pun_x0020_Service_x0020_v1.0Soap12" type="tns:Pun_x0020_Service_x0020_v1.0Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPuns">
      <soap12:operation soapAction="http://puns.org/GetPuns" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPunByID">
      <soap12:operation soapAction="http://puns.org/GetPunByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePun">
      <soap12:operation soapAction="http://puns.org/CreatePun" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditPun">
      <soap12:operation soapAction="http://puns.org/EditPun" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePun">
      <soap12:operation soapAction="http://puns.org/DeletePun" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Pun_x0020_Service_x0020_v1.0">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web service provides create, read, update, and delete functions over a collection of Puns</wsdl:documentation>
    <wsdl:port name="Pun_x0020_Service_x0020_v1.0Soap" binding="tns:Pun_x0020_Service_x0020_v1.0Soap">
      <soap:address location="http://localhost:58927/PunService.asmx" />
    </wsdl:port>
    <wsdl:port name="Pun_x0020_Service_x0020_v1.0Soap12" binding="tns:Pun_x0020_Service_x0020_v1.0Soap12">
      <soap12:address location="http://localhost:58927/PunService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>